PORT=9004
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=messages_db
NATS_URL=nats://localhost:4222
REDIS_URL=localhost:6379
NOTIFICATION_SERVICE_ADDR=localhost:50052
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASSWORD=your-app-password
